body {
    background: url('../images/green_cup.png') repeat;
}

#header {
    height: 100px;
    line-height: 100px;
}

#nav {
    background: url('../images/halftone.png') repeat-x;
    height: 50px;
    box-shadow: 2px 2px 10px #777;
    margin-bottom: 30px;
}

#nav ul {
    list-style: none;
    padding: 0;
}

#nav ul li {
    display: inline-block;
    height: 50px; /* -> #nav height */
    line-height: 50px;
}

#nav ul li a {
    display: block;
    padding: 0 15px;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: background-color 0.5s;

    font-size: 11pt;
}


#nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

#nav ul li a.active {
    border-bottom: 3px solid #3b81b1;
}

#social img {
    margin-top: 5px;
}

.padded {
    padding: 0 100px;
}

#projet1 {
    background: url(../images/projet_reflections.png) no-repeat #000;
    height: 500px;
    background-position: right;
}

#projet2 {
    background: url(../images/projet_cave.png);
    height: 500px;
}

#projet3 {
    background: url(../images/projet_manoir.png);
    height: 500px;
}
