@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

body {
    background: url('../images/green_cup.png') repeat;
}

#header {
    height: 100px;
    line-height: 100px;
    max-width: 1390px;
}

#nav {
    background: url('../images/halftone.png') repeat-x;
    height: 50px;
    box-shadow: 2px 2px 10px #777;
    margin-bottom: 30px;
}

#nav-container {
    max-width: 1390px;
}

#nav ul {
    list-style: none;
    padding: 0;
}

#nav ul li {
    display: inline-block;
    height: 50px; /* -> #nav height */
    line-height: 50px;
}

#nav ul li a {
    display: block;
    padding: 0 15px;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: background-color 0.5s;

    font-size: 11pt;
}

#nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

#nav ul li a.active {
    border-bottom: 3px solid #3b81b1;
}

#social {
    text-align: right;
}

#social img {
    margin-top: 5px;
}

#content {
    margin-bottom: 30px;
    max-width: 1390px;
}

.padded {
    padding: 0 100px;
}

.row-margin {
    margin: 15px 0 0 0;
}

.project {
    height: 500px;
    position: relative;
    top: 0;
    left: 0;
}

.long-project {
    height: 359px;
    margin-bottom: 20px;
    position: relative;
    top: 0;
    left: 0;
}

.description {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 60px;
    position: absolute;
    bottom: 0;

    display: none;
}

.description h1 {
    color: #ddd;
    margin: 13px 10px 0 10px;
    font-size: 24pt;
}

#project1 {
    background: url(../images/full_reflections.png) no-repeat black;
    background-position: right;
}

#project2 {
    background: url(../images/full_cave.png) no-repeat black;
}

#project-extinction {
    background: url(../images/full_extinction.png) no-repeat black;
    background-position: center;
}

.full-box-link {
    display: block;
    width: 100%;
    height: 100%;
}

#reflections-full {
    max-width: 1390px;
    height: 359px;
    background: url("../images/full_reflections.png") no-repeat;
    background-position: right center;
}

#cave-full {
    max-width: 1390px;
    height: 359px;
    background: url("../images/full_cave.png") no-repeat;
    background-position: center center;
}

#manoir-full {
    max-width: 1390px;
    height: 359px;
    background: url("../images/full_manoir.png") no-repeat;
    background-position: center center;
}

#extinction-full {
    max-width: 1390px;
    height: 359px;
    background: url("../images/full_extinction.png") no-repeat;
    background-position: left center;
}

.video {
    margin-top: 30px;
}

.centered {
    text-align: center;
}

.gdd-dld {
    margin-top: 20px;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right;
}

/* Default Fonts */
p, ul li {
    font-family: Lato, sans-serif;
}

#nav ul li a {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 12pt;
    font-weight: 200;
}

h1 {
    font-family: "Cinzel Decorative", "Droid Serif", serif;
}
